<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <title>Home</title>
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Store Car</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Sport Car</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Crossower</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Minivan</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 pt-3">
        <main>
            <div class="card">
                <img src="https://www.hdcarwallpapers.com/walls/range_rover_hse_adv15r-HD.jpg" class="card-img-top"
                    alt="Range Rover">
                <div class="card-body">
                    <h5 class="card-title">Range Rover</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quasi nulla culpa quis
                        voluptatibus facere optio deleniti nisi minima odio, dicta consectetur, accusamus quam ipsa
                        excepturi. Praesentium ipsa iste temporibus autem numquam voluptatibus similique cumque soluta,
                        placeat rem eum animi dignissimos hic assumenda voluptatum odit aliquam consequuntur aspernatur
                        quam maiores voluptate, quas corporis voluptatem. Et eligendi vel totam delectus culpa a sed
                        aspernatur ex dolorum magni hic quas, excepturi ea inventore, fuga ipsam aliquid nulla ipsa
                        corporis, odit similique vero asperiores! Distinctio repellendus quasi optio harum sit provident
                        error reiciendis quae quas dolorem dicta consectetur architecto nihil, repellat iusto. Saepe
                        architecto corrupti aut commodi sint facilis mollitia hic. Assumenda fugit quo aliquid, aperiam
                        amet maxime veritatis, aut, ipsum eos modi sapiente hic sit corrupti facilis temporibus quod
                        excepturi? Obcaecati explicabo minus vitae, illo unde exercitationem omnis quae, corporis iste
                        cupiditate, animi eius deserunt? Quia, dicta at, mollitia impedit eligendi cumque non fugit
                        repudiandae eaque nihil, illo atque natus exercitationem distinctio ex eius recusandae numquam
                        nulla sequi. Consectetur dignissimos voluptatum ullam nam natus velit est quos ipsam cupiditate
                        sint ratione corporis labore ut vel quisquam ducimus, quia impedit quae necessitatibus
                        aspernatur doloribus repellendus perspiciatis. Aliquid deleniti quo magnam at aut, dolor
                        voluptate, provident officia similique cumque, iusto corrupti rerum veritatis quisquam ratione
                        possimus delectus excepturi eveniet. Adipisci illum hic, quia sunt provident, libero dolorem,
                        porro obcaecati natus rerum quo numquam recusandae fugit cum repellat nemo laboriosam impedit
                        saepe modi doloribus exercitationem officiis dolores autem deleniti? Nesciunt aperiam quasi quam
                        consequuntur fuga distinctio officiis ipsa iste necessitatibus! Voluptas saepe, sapiente
                        accusantium quo rerum perspiciatis dolore? Saepe minus quis deserunt ratione molestiae nemo?
                        Reprehenderit assumenda quaerat voluptate perspiciatis deleniti, recusandae excepturi aperiam
                        adipisci consequatur officiis eos quos rem? Tempore officia tempora odio ducimus aliquam sed
                        quidem, ipsam harum minus aliquid. Deserunt, in saepe!</p>
                    <ul class="category_list">
                        <li><a href="">Sport</a></li>
                        <li><a href="">Crossower</a></li>
                    </ul>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Buy now!
                    </button>
                </div>
            </div>
        </main>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Product title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="">
                            <div class="mb-3">
                                <label for="user_name" class="form-label">You Name</label>
                                <input type="text" class="form-control" name="user_name" id="user_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="user_email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="user_email"
                                    aria-describedby="emailHelp" name="user_email" required>
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-dark text-info d-flex justify-content-center align-items-center">
        <span>Tel: +133-456-789</span>
    </footer>
</body>

</html>